<!-- Modal Start here-->
<div class="modal fade" id="progress-bar" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
					<span class="glyphicon glyphicon-time"></span> 
					{{progressBarService.text}}
				</h4>
			</div>
			<div class="modal-body">
				<div class="progress">
					<div class="progress-bar progress-bar-info
                    		progress-bar-striped active" style="width: 100%">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal ends Here -->


