<form>
	<div class="form-group">
		<h4> <strong>Search for any key</strong> </h4>
		<input #searchBox id="search-box" class="form-control input-lg search-box" (keyup)="search(searchBox.value)" placeholder="pay or Pay or domestic or cross or CRoss or CroSs" />
	</div>
</form>
<br>
<div>
	<!--<div *ngFor="let message of messages | async" (click)="setSelectedMessage(message)" class="search-result">
		<h4> {{message.key}} </h4>
	</div>-->
	<div *ngFor="let message of messages | async; let rowIndex = index" class="search-result">
		<div class="jumbotron">
			<div class="row">
				<div class="col-md-8 message-key">
					{{message.key}}
				</div>
				<div class="col-md-4 action-buttons">
					<button type="button" class="btn btn-default" data-toggle="modal" data-target="#message-details-modal">Show More Details</button>
				</div>
			</div>
			<br>
			<div class="row" *ngIf="message.labels['en-engineering']">
				<div class="col-md-2 message-locale">
					<strong>{{message.labels['en-engineering'].locale}}</strong>
				</div>
				<div class="col-md-8 message-text">
					{{message.labels['en-engineering'].message}}
				</div>
			</div>
			<div class="row" *ngIf="message.labels['sv-SE']">
				<div class="col-md-2 message-locale">
					<strong>{{message.labels['sv-SE'].locale}}</strong>
				</div>
				<div class="col-md-8 message-text">
					{{message.labels['sv-SE'].message}}
				</div>
			</div>

			<div class="row" *ngIf="message.labels['da-dk']">
				<div class="col-md-2 message-locale">
					<strong>{{message.labels['da-dk'].locale}}</strong>
				</div>
				<div class="col-md-8 message-text">
					<!--<input type="text" class="form-control" [(ngModel)]="message.labels['da-dk.message">-->
					{{message.labels['da-dk'].message}}
				</div>
			</div>
			<div class="row" *ngIf="message.labels['fi-FI']">
				<div class="col-md-2 message-locale">
					<strong>{{message.labels['fi-FI'].locale}}</strong>
				</div>
				<div class="col-md-8 message-text">
					{{message.labels['fi-FI'].message}}
				</div>
			</div>
			<div class="row" *ngIf="message.labels['sv-FI']">
				<div class="col-md-2 message-locale">
					<strong>{{message.labels['sv-FI'].locale}}</strong>
				</div>
				<div class="col-md-8 message-text">
					{{message.labels['sv-FI'].message}}
				</div>
			</div>
			<div class="row" *ngIf="message.labels['nb-NO']">
				<div class="col-md-2 message-locale">
					<strong>{{message.labels['nb-NO'].locale}}</strong>
				</div>
				<div class="col-md-8 message-text">
					{{message.labels['nb-NO'].message}}
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="message-details-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" (click)="clearSelectedMessage()" data-dismiss="modal">&times;</button>
					<h2>Phrase App Key - Detailed Information</h2>
				</div>
				<div class="modal-body">
					<div class="well">
						Just some more Info... Upcoming Feature :)
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" (click)="clearSelectedMessage()" data-dismiss="modal"> Close </button>
				</div>
			</div>
		</div>
	</div>
</div>